  <div class="back-nav">
    <a [routerLink]="['/home']" style="color: white">
      <fa-icon style="font-size: 30px; padding: 10px;" [icon]="faCoffee"></fa-icon>
    </a>
  </div>

<div class="container">

  <div class="row menu-title">
    <h2 style="color: white">{{menu.menu}}</h2>
  </div>

  <ng-image-slider *ngIf="imageObject.length > 0"
    [images]="imageObject"
    [imageSize]="{width: 400, height: 300, space: 4}"
    [infinite]="true"
    [autoSlide]="{interval: 1, stopOnHover: false}"
    [showArrow]="false" #nav></ng-image-slider>

<!--  <app-sub-menu-choice subTitle="AJI'S CHOICE" [menuItems]="fmenuItems"></app-sub-menu-choice>-->

<!--  <div style="margin: 20px;"></div>-->
<!--  <app-sub-menu-row subTitle="CHICKEN" [menuItems]="smenuItems"></app-sub-menu-row>-->

  <div *ngFor="let subMenu of menu.submenu">
      <app-sub-menu-row subTitle="{{subMenu.name}}" [menuItems]="subMenu.items"></app-sub-menu-row>
  </div>

<!--  <div style="margin: 20px;"></div>-->
<!--  <app-sub-menu-fancy-choice subTitle="FANCY CHOICE" [menuItems]="fancyMenuItems"></app-sub-menu-fancy-choice>-->

<!--  <div style="margin: 20px;"></div>-->
<!--  <app-sub-menu-vertical-large-card subTitle="VERTICAL CARD CHOICE" [menuItems]="fancyMenuItems"></app-sub-menu-vertical-large-card>-->

<!--  <div style="margin: 20px;"></div>-->
<!--  <app-sub-menu-horizontal-large-card subTitle="HORIZONTAL CHOICE" [menuItems]="fancyHorizontalMenuItems"></app-sub-menu-horizontal-large-card>-->


</div>

