.menu-title {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5px;
}

.sub {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-title {
  text-align: right;
}

.dot-line {
  border-bottom: dotted white 1px;
}

.bggrey {
  background-color: rgb(228, 21, 21);
}