<div class="container">
  <div class="row">
    <div class="col-12"><img class="res-logo2" src="/assets/Chili.png" alt=""></div>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-6" *ngFor="let menuItem of menuItems; index as i">-->

<!--      <a [routerLink]="['/submenu', menuItem.title]">-->
<!--        <div class="menu-card">-->
<!--          <img src="{{menuItem.imageUrl}}" class="menu-img">-->
<!--          <div class="menu-title">{{menuItem.title}}</div>-->
<!--        </div>-->
<!--      </a>-->

<!--    </div>-->
<!--  </div>-->
    <ng-image-slider *ngIf="imageObject.length > 0"
      [images]="imageObject"
      [imageSize]="{width: 400, height: 300, space: 4}"
      [infinite]="true"
      [autoSlide]="{interval: 1, stopOnHover: false}"
      [showArrow]="false" #nav></ng-image-slider>
  <div class="row">
    <div class="col-12" *ngFor="let menuItem of newMenuItems; index as i">

      <a [routerLink]="['/submenu', i]">
        <div class="menu-card">
          <div class="menu-title">{{menuItem.menu}}</div>
        </div>
      </a>

    </div>
  </div>
</div>
