.menu-img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}

.menu-title {
  text-align: center;
  color: white;
}

.menu-card {
  padding: 20px;
  background-color: #161616;
  margin: 5px;
}

.res-logo {
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
