<div class="wrapper">
  <div class="background"></div>

  <div class="foreground">
    <div class="row sub-menu-title">
      <h3 style="color: white">{{subTitle}}</h3>
    </div>

    <div class="row-container" *ngFor="let menuItem of menuItems; index as i">
      <div class="row" style="color: white;" >

        <div class="sub sub-title col-6">
          <div>{{menuItem.english}}</div>
        </div>
        <!--      <div class="sub sub-title col-4">{{menuItem.myanmar}}</div>-->
        <div class="sub dot-line col-3"></div>
        <div class="sub sub-price col-2">{{menuItem.price}}</div>
      </div>

      <div class="row" style="color: white;">
        <div class="sub sub-title col-6" *ngIf="menuItem.myanmar">({{menuItem.myanmar}})</div>
      </div>

    </div>




  </div>
</div>
